.user-action{
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  text-align: center;
}


  .history{
    width: 500px;
    height: 500px;
    margin: 100px auto;
    border: 1px solid black;
    overflow-y: auto;
  }

  .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    font-size: 20px;
  }